body {
    font-family: monospace;
    background-color: rgb(255, 255, 175)
}

header {
    position: sticky;
    display: flex;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 175)
}

#logo {
    width: 50vw;
}

#header-img {
    width: 200px;
    height: 75px;
    padding-left: 25px;
}

ul {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

@media (max-width: 800px) {
    ul {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
    }
    
    #header-img {
        padding: 0;
    }
}

.nav-link {
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

#form-section {
    max-width: 400px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thick-border {
    border: 2px solid rgb(51, 51, 51);
    border-radius: 0.25rem;
}

#email {
    font-size: 20px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 175);
    width: 75%;
    margin: 5px;
    text-align: center;
}

#submit {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 175);
    background-color: rgb(204, 0, 0);
    width: 95%;
    margin: 5px;
}

#feature-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.feature-item {
    display: flex;
    padding: 5px;
    align-items: center;
}

.feature-img {
    width: 60px;
    height: 60px;
    padding-right: 20px;
}

.feature-text {
    font-size: 18px;
    color: rgb(51, 51, 51);
}

#video-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#video {
    max-width: 560px;
    width: 100%;
    height: 315px;
}

#pricing-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 1260px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.product-item {
    max-width: 400px;
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.product-img {
    width: 90%;
    height: 90%;
}

.product-text {
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    height: 90%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 20px;
    width: 90%;
    height: 90%;
}
