{% import "bootstrap/wtf.html" as wtf %}

<html>
    <head>
        <title>Signup</title>
    </head>
    <body>
        <h2>Signup</h2>
        <br>
        <form method='POST' action="{{url_for('signup')}}">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.email) }}
            <br>
            <br>
            <input type='submit' value='Signup'>
        </form>
    </body>
</html>